/* Body  */
body, html {
    height: 100%;
}

.navbar, #navbarText, .copyright, #desktopHeader, #largeHeader, #OurStoryText {
    font-family: 'Roboto', sans-serif;
}

#desktopHeader h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 5em;
    font-weight: 300;
}

#desktopHeader h5 {
    font-size: 2em;
    font-weight: 200;

}

#mail, #linkedin, #instagram {
    margin: 16px;
}

#mail {
    color: black;
    }
    
#instagram {
    color: #F24162;
}

#linkedin {
color: #2867B2;
}

#desktopHeader {
    height: 20%;
    color: black;
    /* background: black; */
    /* background: #494949; */
    /* background: -webkit-radial-gradient(center, #e9e9e9, #000000);
    background: -moz-radial-gradient(center, #292929, #000000);
    background: radial-gradient(ellipse at center, #292929, #000000); */
    text-align: center;
    padding-top: 15%;
    /* background-color: gray; */
}

/* Source: https://github.com/creativetimofficial/material-kit/issues/107 */
.logo-image {
    /* width: 46px; */
    height: 90px;
    overflow: hidden;
    margin-top: 0px;
}

.ResourcesSection {
    padding-top: 15%;
    align-items: center;
    /* text-align: center; */
}

.ResourcesSection h1 {
    font-weight: 300;
    padding-bottom: 20px;
}

#PastMeetingHeader {
        font-size: 3.5em;
        padding-bottom: 0%;
        font-weight: 300;
        text-align: center;
}

.ReadingList {
    font-size: 1.25em;
    padding-top: 3%;
    padding-bottom: 5%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.ReadingList a {
    display: inline-block;
    padding-bottom: 10px;
}

.video_wrapper {
    position: relative;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    /* margin-left: 15%;
    margin-right: 15%; */
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.youtubeVideo {
    width: 100%;
    height: 100%;
    /* width: 70%;
    height: 400px; */
}

.YoutubeVideoHeading {
    padding-top: 5%;
    padding-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-left: 15%;
    /* background-color: red; */
    font-size: 1.2em;
    font-weight: 400;
}

#layersDesktop {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15%;
    /* background-color: red; */
}

.one-third-image {
    width: 33%;
}

.two-thirds-image-left {
    width: 63%;
    padding-right: 5%;
    /* background-color: red; */
}

.two-thirds-image-right {
    width: 63%;
    padding-left: 5%;
    /* background-color: red; */
}

/* Copyright */
.copyright {
    text-align: center;
    color: rgba(0, 0, 0, 0.2);
    font-size: 0.75em;
    margin-top: 10%;
    padding-bottom: 2%;
}

/* About Page */
#OurStory {
    padding-top: 15%;
    padding-bottom: 5%;
}

#OurStoryHeader {
    font-size: 3.5em;
    padding-bottom: 30px;
    font-weight: 300;
}

#CoPresImage {
    width: 30%;
    /* background-color: black; */
    display: inline-block;
    vertical-align: top;
    margin-right: 4%;
}

#OurStoryText {
    width: 45%;
    text-align: left;
    font-size: 1.2em;
    /* background-color: red; */
    display: inline-block;
}

/* E-BOARD MEMBERS */
.flex-container {
    flex-direction:row;
    display: -webkit-flex;
    display: flex;
    /* background-color: grey; */
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-flow: row wrap; 
  }
  
  .flex-item {
    /* background-color: lightblue; */
    width: 25%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    text-align: center;
    order: 1;  
  }

  .grid-image {
      height: 100%;
      /* background: red; */
  }

/* All Phones */
@media only screen and (max-width: 768px) {
    #desktopHeader h1 {
        padding-top: 18%;
        font-size: 2.6em;
    }

    .ResourcesSection {
        padding-top: 40%;
    }

    .ResourcesSection h1 {
        font-size: 2.3em;
        font-weight: 300;
        padding-bottom: 20px;
    }

    .YoutubeVideoHeading {
        padding-top: 50px;
        padding-bottom: 18px;
    }

    #PastMeetingHeader {
        padding-top: 40px;
    }

    /* .youtubeVideo {
        width: 80%;
        height: 200px;
    } */

    #layersDesktop {
        display: none;
    }

    #layersMobile {
        padding-top: 40%;
    }

    .image-block {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .text-block {
        width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .copyright {
        font-size: 1em;
        padding-bottom: 5%;
    }

    /* About Page */
    #OurStory {
        padding-top: 150px;
        padding-bottom: 50px;
    }

    #OurStoryHeader {
        font-size: 2.5em;
        padding-bottom: 20px;
        font-weight: 300;
    }

    #CoPresImage {
        width: 80%;
        /* background-color: black; */
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 6%;
    }

    #OurStoryText {
        width: 80%;
        text-align: left;
        font-size: 1.2em;
        /* background-color: red; */
        display: inline-block;
    }

    /* E-BOARD MEMBERS */
    .flex-container {
        flex-direction:row;
        display: -webkit-flex;
        display: flex;
        /* background-color: grey; */
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        height: 250px;
        align-content: center;
        text-align: center;
        justify-content: center;
        flex-flow: row wrap; 
    }
    
    .flex-item {
        /* background-color: lightblue; */
        width: 45%;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        text-align: center;
        order: 1;  
    }

    .grid-image {
        height: 100%;
        /* background: red; */
    }
}

/* Tablet and small computers */
@media only screen and (max-width: 900px) and (orientation : landscape) {
    #desktopHeader {
        display: none;
    }

    #layersMobile {
        display: none;
    }
    
    #layersDesktop {
        padding-top: 12%;
    }
}

/* Desktop */
@media only screen and (min-width: 768px) {
    #layersMobile {
        display: none;
    }

    /* #layer1 {
        background-color: red;
    }
    #layer2 {
        background-color: blue;
    }
    #layer3 {
        background-color: red;
    }
    #layer4 {
        background-color: blue;
    } */

    #layer2 {
        padding-top: 20px;
    }

    #layer3, #layer4 {
        padding-top: 130px;
    }
}